




$green_l: #2ecc71; // For captions and secondary control
$green_d: #27ae60;

$grey_l: #7f8c8d;
$grey_m: #34495e;
$grey_d: #2c3e50;

$red_l: #e74c3c; // Alerts, Errors, etc
$red_d: #c0392b;

$purple_l: #9b59b6; // For controls
$purple_d: #8d44ad;

